{define title}Kontaktní formulář{/define}
{define description}Kontaktní formulář.{/define}
{block content}
<p>Kontaktujte nás odesláním formuláře níže.</p>
{* Formulář pro kontakt. *}
{control contactForm}