{define title}Administrace webu{/define}
{define description}Administrace webu.{/define}
{block content}
<p>Vítejte v administraci!</p>
<h2><a n:href=":Core:Article:editor">Editor článků</a></h2>
<h2><a n:href=":Core:Article:list">Seznam článků</a></h2>